th {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
tr {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
table {
    border-collapse: collapse;
    border: 2;
    width: 1000px;
    height: 500px;
}
td {
    text-align: center;
    background-color: gainsboro;
    -webkit-transition: all 0.7s ease;;
    -moz-transition: all 0.7s ease;;
    -o-transition: all 0.7s ease;;
}
caption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: initial;
    font-size: 35px;
    color: palevioletred;
}
.purple {background-color: plum;}
.cow {
    background-color: pink;
}
.pink {
    background-color: palevioletred;
}
td:hover {
    -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background-color: rebeccapurple;
}
