@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

table {
    font-family: 'Montserrat', sans-serif;
}
li{
    list-style-type: none;
}
.main {
    width: 1000px;
    
    border-spacing: 2px;
}
.left, .right {
    border-radius: 5px;
    margin: 0 15px;
    padding: 0 25px;
    -webkit-box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.8); 
    box-shadow: 0px 2px 15px 1px rgba(0,0,0,0.8);
}
.left {
    text-align: center;
    width: 300px;
    height: 586px;
}

.right {
    width: 700px;
}
.button {
    text-align: center;
    height: 50px;
}
.figure {
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    background-color: rgb(180, 214, 203);
    border-radius: 5px;
}